@import url('../global/global_styles.css');




@media (min-width: 200px)  {
    :root
    {
        --tsfs-scale: 0.55 !important;
    }

    .draggable
    {
        width: 100px ;
        height: 100px ;
    }
    .dropzone{
        width: 120px ;
       height: 120px ;
    }
    .shapes {
        gap: 79px;
    }
    .dropzone img{
        min-width: 120px;
        width: 100%;
    }
    
}




@media (min-width: 576px) {
   

    :root
    {
        --tsfs-scale: 0.65 !important;
    }

}




@media (min-width: 768px) {
    :root
    {
        --tsfs-scale: 0.75 !important;
    }  
    .draggable
    {
        width: 200px ;
        height: 200px ;
    } 
    .dropzone{
        width:254px;
       height: 254px;
       
    }
    .drop_zones
    {
        flex-wrap: wrap;    
    }
    .dropzone img{
        
        width: 100%;
    }
    .shapes {
        gap: 79px;
    }
    
}





@media (min-width: 992px) {
    :root
    {
        --tsfs-scale: 0.85 !important;
    }
}





@media (min-width: 1200px) {
   
}


